<html>
<head>
  {{> header}}
</head>
<body>
<div class="container">
  <h1>Available Courses</h1>
  <a href="/addCourse" class="btn btn-add">Add New Course</a>
  <ul class="list-group mt-3">
    {{#courses}}
      <li class="list-group-item">
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        <a href="/course/{{_id}}" class="btn btn-view">View Details</a>
        <a href="/updateCourse/{{_id}}" class="btn btn-update">Update</a>
        <a href="/deleteCourse/{{_id}}" class="btn btn-delete">Delete</a>
      </li>
    {{/courses}}
  </ul>
  <br>
  <a href="/logout" class="btn btn-dark">Logout</a>
</div>
</body>
</html>
